<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-xl-5 col-xl-5">
    <h1 class="text-center logo">
      <span class="azul">meu</span><span class="roxo">controle</span><span class="azul">_cadastro</span>
    </h1>
    <form [formGroup]="cadastroForm" autocomplete="off">
      <mc-input label="nome" type="text" id="nome" [isInvalid]="isInvalid('nome')" formControlName="nome"></mc-input>

      <mc-input label="sobrenome" type="text" id="sobrenome" [isInvalid]="isInvalid('sobrenome')" formControlName="sobrenome"></mc-input>

      <mc-input label="e-mail" type="email" id="email" [isInvalid]="isInvalid('email')" formControlName="email"></mc-input>

      <mc-input label="usuário" type="text" id="usuario" [isInvalid]="isInvalid('usuario')" formControlName="usuario"></mc-input>

      <mc-input label="senha" type="password" id="senha" [isInvalid]="isInvalid('senha')" formControlName="senha"></mc-input>

      <button type="button" class="btn btn-primary" [disabled]="cadastroForm.invalid">criar conta</button>
      <div class="text-white">
        <span>já possui uma conta? <a [routerLink]="['/login']">entre agora</a></span>
      </div>
    </form>
  </div>
</div>
