<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-xl-5 col-xl-5">
    <h1 class="text-center logo">
      <span class="azul">meu</span><span class="roxo">controle</span><span class="azul">_cadastro</span>
    </h1>
    <form [formGroup]="form" autocomplete="off">
      <mc-input label="nome" type="text" id="nome" errorMessage="você precisa informar o seu nome"
                [control]="getControl('nome')" formControlName="nome"></mc-input>

      <mc-input label="sobrenome" type="text" id="sobrenome" errorMessage="você precisa informar o seu sobrenome"
                [control]="getControl('sobrenome')" formControlName="sobrenome"></mc-input>

      <mc-input label="e-mail" type="email" id="email" errorMessage="você precisa informa um e-mail valido"
                [control]="getControl('email')" formControlName="email"></mc-input>

      <mc-input label="usuário" type="text" id="usuario" errorMessage="você deve criar um nome de usuário"
                [control]="getControl('usuario')" formControlName="usuario"></mc-input>

      <mc-input label="senha" type="password" id="senha" errorMessage="você deve criar uma senha"
                [control]="getControl('senha')" formControlName="senha"></mc-input>

      <button type="button" class="btn btn-primary" [disabled]="form.invalid">criar conta</button>
      <div>
        <span class="text-white">já possui uma conta? <a [routerLink]="['/login']">entre agora</a></span>
      </div>
    </form>
  </div>
</div>
