<div class="row justify-content-center">
  <div class="col-sm-12 col-md-8 col-xl-5 col-xl-5">
    <h1 class="text-center logo">
      <span class="azul">meu</span><span class="roxo">controle</span><span class="azul">_login</span>
    </h1>
    <form [formGroup]="loginForm" autocomplete="off">
      <mc-input id="usuario" label="usuário" type="text" formControlName="usuario"
                [isInvalid]="isInvalid('usuario')"></mc-input>
      <mc-input id="senha" label="senha" type="password" formControlName="senha"
                [isInvalid]="isInvalid('senha')"></mc-input>
      <button type="button" class="btn btn-primary" [disabled]="loginForm.invalid">entrar</button>
      <div class="text-white">
        <span class="float-left"><a href="recuperacao_senha.html" class="text-white">esqueci a senha</a></span>
        <span class="float-right">não tem conta? <a [routerLink]="['/cadastro']">crie agora</a></span>
      </div>
    </form>
  </div>
</div>
